# Build and Release Folders
.releases
.sudo_settings
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
desktop.ini

# Executables
*.swf
*.air
*.ipa
*.apk
*.api

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
$RECYCLE.BIN/S-1-5-21-1253723000-3132238658-3668602919-1001/desktop.ini
$RECYCLE.BIN
*.scr
